/* File: main.css
 * Author: Sebasian Szymak
 * 
 * This file is part of 28Team.
 *
 * Foobar is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Foobar is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
 */

.builder {
	margin: 0px auto;
	width: 100%;
}

.clear {
	display: block;
	clear: both;
}

.window {
	clear: both;
	overflow: hidden;
	margin: 0px auto;
	padding: 0px;
	font-family: verdana, arial, sans serif;
	width: 1000px;
	text-align: left;
	border-right: solid 1px rgb(0, 0, 0);
	border-left: solid 1px rgb(0, 0, 0);
	border-bottom: solid 1px rgb(0, 0, 0);
	border-top: solid 1px rgb(0, 0, 0);
}

.vim_powered {
	clear: both;
	overflow: hidden;
	margin: 0px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	font-family: verdana, arial, sans serif;
	width: 1002px;
	text-align: left;
}

.vim_powered a {
	display: block;
	margin: 0px;
	margin-top: -1px;
	padding: 0px;
	text-transform: uppercase;
	text-decoration: none;
	border-style: none;
}

.vim_powered img {
	border-style: none;
	align: right;
}

.login_panel {
	position: relative;
	float: left;
	margin: 0px auto;
	background-image: url("../images/bg/login.png");
	width: 1000px;
	height: 50px;
}

.login_form {
	position: relative;
	float: right;
	margin: 0px;
	top: 5px;
	right: 5px;
	font-family: verdana, arial, sans serif;
	font-size: 9pt;
	text-align: right;
	vertical-align: middle;
}

.text_field {
	border-color: black;
	border-style: solid;
	border-width: thin;
	background-color: rgb(255, 255, 204);
}

.login_form input#submit_button {
	border-color: black;
	border-style: solid;
	border-width: thin;
	background-color: rgb(255, 144, 0);
}

.flags {
	clear: both;
	position: relative;
	padding: 5px;
	width: 990px;
	font-family: verdana, arial, sans serif;
	font-size: 9pt;
	text-align: right;
	vertical-align: middle;
	background-color: rgb(0, 0, 0);
}

.flags img {
	padding-left: 5px;
	border-width: 0px;
}

.forgot {
	clear: both;
	position: relative;
	float: right;
	top: 5px;
	right: 5px;
	font-family: verdana, arial, sans serif;
	font-size: 8pt;
	text-align: right;
	vertical-align: middle;
}

.main_menu_panel {
	position: relative;
	float: left;
	margin: 0px auto;
	background-color: rgb(85,107,47);
	width: 1000px;
	border-bottom: solid 1px rgb(0, 0, 0);
	border-top: solid 1px rgb(0, 0, 0);
	
}

.main_menu_panel ul {
	float: left;
	width: 1000px;
	margin: 0px;
	padding: 0px;
}

.main_menu_panel li {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;

}

.main_menu_panel li a {
	display: block; 
	float: left; 
	margin: 0px 0px 0px 0px;
	padding-left: 10px;
	padding-right: 10px;
	border-right: solid 1px rgb(0, 0, 0);
	text-transform: uppercase;
	text-decoration: none;
	font-size: 10pt;
	color: rgb(256, 256, 256);
	vertical-align: middle;
	line-height: 23px;
}

.main_menu_panel a:hover {
	color: rgb(238,232,170);
	text-decoration: none;
}

.main_menu_panel a.selected {
	color: rgb(255, 255, 255);
	text-decoration: none;
	background-color: rgb(107,142,35);
}

